.Title {
  display: flex;
  justify-content: center;
  padding: 0;
  color: #008554;
}
.Document {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5px 9px 5px 13px;
  border-radius: 5px;
  margin-top: 4px;
  width: 100%;
  box-shadow: '5px 5px #c4c4c4';
}
