.GreenFormHeading {
  font-size: 15px;
  font-weight: 700;
  color: black;
}
.UploadDocsContainer {
  width: 100%;
  background: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 200px;
  min-height: 135px;
  padding: 1rem;
  width: 100%;
  overflow: hidden;
  border: 2px dashed #8d8e8e;
  border-radius: 4px;
}
.GreyText {
  color: #90999e;
}
.Text {
  color: #008554;
}
.Document {
  background-color: white;
  padding: 5px 9px 5px 13px;
  margin-top: 4px;
  width: 100%;
  box-shadow: 5px 5px 11px #c4c4c4b3;
  border-left: 5px solid green;
}
